# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# IDE & OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/
