@import "tailwindcss";

@theme {
  --color-navy: #08365f;
  --color-navy-2: #052b51;
  --color-navy-hover: #1a4b7c;
  --color-saffron: #b76300;
  --color-saffron-dark: #8d4a00;
  --color-amber: #e8a11b;
  --color-paper: #fbfaf7;
  --color-ink: #10233a;
  --color-muted: #536271;
  --color-line: #d8d9d7;
  --color-green: #4c9a5a;
}